*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: var(--docbg);
}
.logo{
    margin-left: 3%;
}
.logo h1{
    color: var(--fcolor);
    font-family: var(--logofont);
    font-size: 50px;
}
nav{
    flex: 1;
    padding-left: 6px;
}
nav ul{
    margin-right: 40px;
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 22px;
    text-transform: uppercase;
    font-family: var(--navfont);
    transition: all 1s ease-in-out;
}
a{
    text-decoration: none;
    margin: 0 20px;
    color: var(--licolo);
    transition: all 1s ease-in-out;
}
nav ul a li:hover{
    color: var(--linkhover);
    text-decoration: underline;
}
nav ul a.active li{
    color: var(--linkhover);
    text-decoration: underline;
}
.nav #navbtn{
    color: var(--licolo);
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}




/* ===================Responsiveness========================== */

@media only screen and (max-width:910px){
    .logo h1{
        font-size: 45px;
    }
    nav ul li{
        font-size: 20px;
    }
}

@media only screen and (max-width:710px){
    .logo h1{
        font-size: 40px;
    }
    nav ul{
        margin-right: 20px;
    }
}

@media only screen and (max-width:600px){
    .nav #navbtn{
        display: block;
    }
    .logo h1{
        font-size: 30px;
        margin-top: 10px;
        margin-left: 10px;
    }
    #nav{
        width: 100%;
        height: 105vh;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: absolute;
        background-color: #2f3640;
        left: -100%;
        top: -20% !important;
        text-align: center;
        transition: all 2s;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
    }
    nav ul a li:hover{
        color: var(--navcolor);
    }
    nav ul a.active li{
        color: var(--navcolor);
        text-decoration: underline;
    }
    #nav.navshow{
        left: 0%;
        z-index: 1;
    }
}