.App{
    height: 100vh;
    width: auto;
    position: relative;
    overflow: auto;
    scroll-snap-type: mandatory;
    background-color: var(--docbg);
    scroll-behavior: smooth;
    transition: all 3s ease;
}